# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
ENV/
.env

# PyCharm project settings
.idea/

# VSCode settings (optional, if collaborators use it)
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Logs and local data
*.log
*.pot
*.mo
*.sqlite3
*.db
*.pid

# dotenv
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# mypy
.mypy_cache/

# profiling
.prof

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
user_inputs.txt
